# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
/dist/
*.egg-info

# Audio samples converted to video to be displayed on GitHub.
vid/ 

# For now, don't push models or venv.
venv/